[Unit]
Description=Run Plex ratings sync daily at 22h

[Timer]
OnCalendar=*-*-* 22:00:00
Persistent=true
Unit=plex-ratings-sync.service

[Install]
WantedBy=timers.target
